@charset "utf-8";
* {
    margin: 0;
}

img {
    margin: 20px;
    width: 200px;
    height: 80px;
}

nav {
    position: fixed;
    height: 100%;
    width: 18%;
    float: left;
    background-color: #d5fefd;
}

#navigat li {
    list-style: none;
    cursor: pointer;
}

#navigat li:hover {
    transform: translate(20px);
}

#navigat li {
    margin-top: 20px;
    color: black;
    font-size: 17px;
}

section {
    width: 82%;
    height: 100%;
    float: right;
}

#wrap {
    width: 81%;
    height: 100%;
    margin: 50px;
}

#search {
    width: 100%;
    height: 20%;
}

#search_code {
    height: 30px;
    border: 1px solid black;
    background-color: #cceeff;
    margin: 10px;
}

#sub {
    float: right;
}

#list {
    width: 50%;
    height: 550px;
    float: left;
    margin-top: 30px;
}

#show_pdf {
    width: 50%;
    height: 550px;
    float: left;
    margin-top: 30px;
}

#sugang_table tr:hover {
    color: black;
}